/* The following CSS was written from scratch and
/* should meet the requirements outlined in the assignment.


/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Red Rose', cursive; 

primary color: #C2779A
complimentary: #77c29f

analogous: #c277c0
analogous: #c27a77

triadic: #c29f77
triadic: #9ac277

*/

body {
  font-family: 'Arial', serif;
  background-color: rgb(51, 51, 51);
}

header {
  font-family: 'Red Rose', cursive;
  color: #C2779A;
  height: 100vh;
  background-image: url("images/background-img.jpg");
  background-position: center;
  background-size: cover;
}

h2, h3, h4 {
  font-family: 'Red Rose', cursive;
  color: #77c29f;
}

header h2 {
  margin-top: 0;
  margin-bottom: 50px;
  color: #C2779A;
}

li {
  color: #c277c0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

a {
  font-size: 16px;
}

a:link    { color: #C2779A; }
a:visited { color: #c29f77; }
a:hover   { color: #c27a77; }
a:active  { color: #9ac277; }

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

}

.item {
  flex: 1;
  align-self: center;
  flex-wrap: wrap;
}

.groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.items {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.profileText {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#home,#aboutMe,#projects,#contact {
  background-color: rgb(104, 99, 99);
  margin: 6px 20px 0 20px;
  padding-bottom: 10vh;
}

p, h4 {
  color: #c277c0;
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 6px;
}

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  /* .item {

  } */
}

