/* The following CSS was written from scratch and
/* should meet the requirements outlined in the assignment.


/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Red Rose', cursive; 

primary color: #C2779A
complimentary: #77c29f

analogous: #c277c0
analogous: #c27a77

triadic: #c29f77
triadic: #9ac277

*/

body {
  font-family: 'Arial', serif;
  background-color: rgb(51, 51, 51);
}

header {
  font-family: 'Red Rose', cursive;
  color: #C2779A;
  height: 100vh;
  background-image: url("images/background-img.jpg");
  background-position: center;
  background-size: cover;
}

h2, h3, h4 {
  font-family: 'Red Rose', cursive;
  color: #77c29f;
}

header h2 {
  margin-top: 0;
  margin-bottom: 50px;
  color: #C2779A;
}

p, li{
  color: #c277c0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

a {
  font-size: 16px;
}

a:link    { color: #C2779A; }
a:visited { color: #c29f77; }
a:hover   { color: #c27a77; }
a:active  { color: #9ac277; }

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  align-self: center;
}

header div.group {
  vertical-align: 10vh;
}

.wrapper {
  width: 80%;
  /* margin: auto; */
}

#home,#aboutMe,#projects,#contact {
  background-color: rgb(104, 99, 99);
  margin: 6px 20px 0 20px;
  padding-bottom: 10vh;
}

/* header:after,
nav:after {
  content: " ";
  display: table;
  clear: both;
} */



/* hr {
  width: 350px;
	height: 32px;
	border: none;
  margin-top: 30px;
  margin-bottom: 20px;
	background-image: url("images/divider.png");
} */